<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.service,com.thread"/>
	
	<context:property-placeholder location="classpath:/rabbitmq.properties,classpath:/database.properties,classpath:/redis.properties"/>

	<bean name="connectionThreadLocal" class="com.thread.local.ConnectionThreadLocal">
		<property name="url" value="${database.url}"/>
		<property name="username" value="${database.username}"/>
		<property name="password" value="${database.password}"/>
        <property name="jdbcClass" value="${database.class}"/>
	</bean>
</beans>
