<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbit.ip}" port="${rabbit.port}" username="${rabbit.username}" password="${rabbit.password}"
		virtual-host="${rabbit.vhost}" />

	<rabbit:admin connection-factory="connectionFactory" />
	
	<rabbit:queue name="rmq-queue" auto-declare="true"/>

	<rabbit:direct-exchange name="${rabbit.exchange.name}" auto-declare="true">
		<rabbit:bindings>
			<rabbit:binding queue="rmq-queue" key="${rabbit.key}"/>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="receiveService" method="receiveMsg" queue-names="${rabbit.queuename}"/>
	</rabbit:listener-container>

</beans>