<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!--在redis.properties里配置 redis的ip和端口号-->
	<bean name="jedis" class="redis.clients.jedis.Jedis">
		<constructor-arg index="0" type="java.lang.String" value="${redis.ip}"/>
		<constructor-arg index="1" type="int" value="${redis.port}"/>
	</bean>
</beans>
